.submit-github-issue-link {
  text-decoration: none;
}

.submit-github-issue-button {
  font-weight: 700;
  border: 1px solid var(--amplify-components-button-border-color);
  background-color: var(--amplify-components-button-background-color);
  color: var(--amplify-components-button-color);

  &:hover {
    background-color: var(--amplify-components-button-hover-background-color);
    border-color: var(--amplify-components-button-hover-border-color);
    color: var(--amplify-components-button-hover-color);
  }
}
