{
  "extends": ["airbnb", "prettier"],
  "globals": {
    "window": "writable"
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "impliedStrict": true,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "block-scoped-var": "off",
    "camelcase": "off",
    "comma-dangle": ["error", "only-multiline"],
    "func-names": "off",
    "global-require": "off",
    "import/newline-after-import": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "peerDependencies": true
      }
    ],
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/heading-has-content": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-console": "off",
    "no-empty": "off",
    "no-duplicate-case": "off",
    "no-fallthrough": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-restricted-globals": "off",
    "no-restricted-syntax": "off",
    "no-unused-expressions": "off",
    "no-var": "off",
    "object-shorthand": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-sort-props": "off",
    "react/no-children-prop": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
