# editor
.vscode

# env vars
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# system
.DS_Store
.cache

# dependencies
node_modules
.pnp
.pnp.js

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
.nyc_output
coverage
actual.js

# production
lib
build
public
dist

#amplify/aws
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
aws-exports.js
awsconfiguration.json
credentials.js