.learn-navbar {
  display: flex;
  flex-direction: column;
}

.learn-logo {
  &:hover {
    cursor: pointer;
  }
}

.navbar-menu-item {
  display: flex;
  align-items: center;
  height: 100%;
  color: rgba(84, 91, 100, 1);
  text-decoration: none;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    color: rgba(35, 47, 62, 1);
  }

  cursor: pointer;
  color: rgba(84, 91, 100, 1);
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: rgba(35, 47, 62, 1);
  }
}

.current-nav-menu-item {
  border-top: 2px solid transparent;
  border-bottom: 2px solid #ff9900;
}

.mobile-nav-menu-items {
  border-bottom: 1px solid var(--amplify-colors-neutral-80);
  font-size: 0.875rem;
  padding: 12px;
  align-items: center;

  a {
    color: var(--amplify-colors-neutral-40);
  }

  &:focus,
  &:hover {
    a {
      color: var(--amplify-colors-neutral-10);
    }
  }
}

@media (min-width: 975px) {
  .learn-navbar {
    display: flex;
    flex-direction: row;
  }
}
