.lesson-toc {
  border: 1px solid #A9B6B7;
  border-radius: 8px;
  padding-bottom: 8px;
  margin-top: 32px;
}

.first-chapter-heading {
  border-bottom: 1px solid #A9B6B7;
}

.chapter-heading {
  border-top: 1px solid #A9B6B7;
  border-bottom: 1px solid #A9B6B7;
}

.lesson-link {
  justify-content: flex-start;
  border-radius: 0px;
}