.next-lesson-link {
  color: var(--amplify-components-text-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    text-decoration: none;
    color: var(--amplify-components-text-color);
  }
}
