/* Font faces using Amazon Ember and Amazon Ember Display */

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/AmazonEmber_W_Th.woff) format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/AmazonEmber_W_ThIt.woff) format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/AmazonEmber_W_Lt.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/AmazonEmber_W_LtIt.woff) format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/AmazonEmber_W_Rg.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/AmazonEmber_W_RgIt.woff) format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/AmazonEmber_W_SBd.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/AmazonEmber_W_SBdIt.woff) format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/AmazonEmber_W_Bd.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/AmazonEmber_W_BdIt.woff) format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/AmazonEmber_W_He.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/AmazonEmber_W_HeIt.woff) format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember Display;
  src: url(../../public/fonts/AmazonEmberDisplay_W_Lt.woff) format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember Display;
  src: url(../../public/fonts/AmazonEmberDisplay_W_LtIt.woff) format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember Display;
  src: url(../../public/fonts/AmazonEmberDisplay_W_Rg.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember Display;
  src: url(../../public/fonts/AmazonEmberDisplay_W_RgIt.woff) format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember Display;
  src: url(../../public/fonts/AmazonEmberDisplay_W_Md.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember Display;
  src: url(../../public/fonts/AmazonEmberDisplay_W_MdIt.woff) format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember Display;
  src: url(../../public/fonts/AmazonEmberDisplay_W_Bd.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember Display;
  src: url(../../public/fonts/AmazonEmberDisplay_W_BdIt.woff) format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember Display;
  src: url(../../public/fonts/AmazonEmberDisplay_W_He.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember Display;
  src: url(../../public/fonts/AmazonEmberDisplay_W_HeIt.woff) format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}