html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.debugoutline {
  outline: 10px solid red
}

/* Overwrite default Amplify Figma "Link" button because it doesn't have a border by default */
button[data-variation="link"][type="button"] {
  border-style: solid !important;
  border-width: 1px !important;
}