/* CSS to match Amplify UI buttons to Figma */

.tag-button {
  border: 1px solid #A9B6B7 !important;
  color: #0074BD !important;

  &:hover {
    border-color: #065198 !important;
  }

  &:active {
    color: #F0FAFF !important;
    border-color: #03305E !important;
  }
}

// Overwrite "Default" button
button[data-variation="default"][type="button"] {
  &:hover {
    border-color: hsl(213, 28%, 19%) !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}

// Overwrite "Primary button
button[data-variation="primary"][type="button"] {
  &:hover {
    border-color: none !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}