/* CSS to match Amplify UI buttons to Figma */

.tag-button {
  border: 1px solid #a9b6b7 !important;
  color: #0074bd !important;
  white-space: nowrap;

  &:hover {
    border-color: #065198 !important;
  }
}

// Overwrite "Default" button
button[data-variation="default"][type="button"] {
  &:hover {
    border-color: hsl(213, 28%, 19%) !important;
  }
}

// Overwrite "Primary button
button[data-variation="primary"][type="button"] {
  &:hover {
    border-color: none !important;
  }
}

.link-button {
  text-decoration: none;
}
