.tag-button {
  color: #0074BD;

  @media screen and (max-width: $breakpoint-small) {
    padding: 24px 32px 24px 32px;
  }
  
  @media screen and (min-width: $breakpoint-medium) {
    padding: 32px 48px 32px 48px;
  }
}