.breadcrumb {
  text-decoration: none;
  color: #0074bd;

  &:hover {
    color: #065198;
  }
}

.breadcrumb-container {
  margin-top: var(--dev-center-nav-height);

  @media (min-width: 975px) {
    margin-top: 0px;
  }
}
