.home-page-card {
  &:hover {
    border: 1px #232F3E solid;
    box-shadow: none;
    cursor: pointer;
  }
}

.course-card {
  &:hover {
    cursor: pointer;

    .course-title {
      color: #E95E07 !important;
    }
  }
}