@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_Rg.ttf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
