.message-banner {
  display: flex;
  flex-direction: row;
  grid-column: 2;
  align-items: start;
  border: 1px solid var(--amplify-colors-border-primary);
  padding: var(--amplify-space-medium);
  margin-bottom: var(--amplify-space-large);

  @media (max-width: 992px) {
    grid-column: 1;
  }
}

.message-banner__inner {
  flex-direction: row;
}
