.message-banner {
  display: flex;
  flex-direction: row;
  align-items: start;
  border: 1px solid var(--amplify-colors-border-primary);
  padding: var(--amplify-space-medium);
  margin-bottom: var(--amplify-space-large);
}

.message-banner__inner {
  flex-direction: row;
}
