name: ValidateContent
on:
  - push
  - pull_request
jobs:
  validate-content:
    name: ValidateContent
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Setup Node.js 10.x
        uses: actions/setup-node@master
        with:
          node-version: 10.x
      - name: Install Dependencies
        run: yarn
      - name: Run content validation
        run: yarn validate-content
